<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Login</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="">Email address: </label>
                    <input type="email" class="form-control" name='Email' placeholder="enter email">

                </div>
                <br>
                <div class="form-group">
                    <label for="">Password:</label>
                    <input type="password" class="form-control" name="Password" placeholder="Password">
                </div>
                <br>
                    <a href="/signup">Create new Account ? </a>

                    <button  class="btn btn-primary float-end " type="submit">Login</button>
            </form>
        </div>
    </div>
</div>